body {
  text-align: center;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.btn {
  height: 200px;
  width: 200px;
  border-radius: 20%;
  border: 10px solid black;
  margin: 2rem;
}

.red {
  background-color: rgba(255, 0, 0, 0.342);
}

.yellow {
  background-color: rgba(133, 133, 35, 0.463);
}

.green {
  background-color: rgba(0, 128, 0, 0.452);
}

.purple {
  background-color: rgba(128, 0, 128, 0.49);
}

.flash {
  background-color: white;
}

.userflash {
  background-color: green;
}
